@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
    background: url("./assets/background-image-galaxy.gif");
    
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 25px ;
    
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size:16px ;
    background-color: black;
    border: 1px solid  #bd4f6c;

}

.input-container input[type="text"]{
    width: 70%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    
}

.input-container input[type="button"]{
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size:16px ;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.551);
    font-weight: 700;
    margin-left: 6px;
    padding: 12px 20px;
    border: 1px solid  #bd4f6c;
   
}

.input-container input[type="button"]:hover{
background-color: rgba(0, 0, 0, 0.768);
color: rgb(255, 255, 255);

}

ul{
    width: 100%;
    max-width: 450px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

ul li{
    list-style: none;
    cursor: pointer;
    border: 1px solid  #bd4f6c;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
ul li p{
    flex-grow: 1;
    padding: 2px;
}

.btn{
    border: none;
    outline: none;
    font-size: 16px;
    background:none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
}
.deleteBtn{
    color: red;
}
.editBtn{
    color: lightgreen;
}


